
<nav th:fragment="_navbar" class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <a class="navbar-brand brand-logo" href="index.html">
      <img id="logo" src="/images/LogoEducatrix.png" alt="logo"/>
    </a>
    <a class="navbar-brand brand-logo-mini" href="../../index.html"><img src="/images/LogoEducatrix.png" alt="logo"/></a>
  </div>

  <div class="navbar-menu-wrapper d-flex align-items-stretch">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
        <span class="mdi mdi-menu">

        </span>
    </button>
    <div class="search-field d-none d-md-block">
      <form class="d-flex align-items-center h-100" action="#">
        <div class="input-group">
          <div class="input-group-prepend bg-transparent">
            <i class="input-group-text border-0 mdi mdi-magnify"></i>
          </div>
          <input type="text" class="form-control bg-transparent border-0" placeholder="Search projects">
        </div>
      </form>
    </div>
    <ul class="navbar-nav navbar-nav-right">

      <li class="nav-item nav-profile dropdown">
        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown">
          <div class="nav-profile-img">
            <img src="/images/faces/face1.jpg" alt="image">
            <span class="availability-status online"></span>
          </div>
          <div class="nav-profile-text">
            <p class="mb-1 text-black">Trần Xuân Huy</p>
          </div>
        </a>
        <div class="dropdown-menu navbar-dropdown">
          <a class="dropdown-item" href="#">
            <i class="fa-solid fa-list-check fa-lg mr-2 text-success"></i> Activity Log
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <i class="fa-solid fa-right-from-bracket fa-lg mr-2 text-primary"></i> Signout
          </a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-envelope fa-xl"></i>
          <span class="count-symbol bg-warning"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown">
          <h6 class="p-3 mb-0">Messages</h6>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <img src="/images/faces/face4.jpg" alt="image" class="profile-pic">
            </div>
            <div class="preview-item-content">
              <h6 class="preview-subject font-weight-normal">Mark send you a message</h6>
              <p class="text-gray mb-0">1 Minutes ago</p>
            </div>
          </a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
          <i class="fa-solid fa-bell fa-xl"></i>
          <span class="count-symbol bg-danger"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown">
          <h6 class="p-3 mb-0">Notifications</h6>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <i class="fa-solid fa-calendar-check fa-lg text-success"></i>
            </div>
            <div class="preview-item-content">
              <h6 class="preview-subject font-weight-normal">Event today</h6>
              <p class="text-gray ellipsis mb-0">Just a reminder that you have an event today</p>
            </div>

          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <i class="fa-solid fa-gear fa-lg text-warning"></i>
            </div>
            <div class="preview-item-content">
              <h6 class="preview-subject font-weight-normal">Settings</h6>
              <p class="text-gray ellipsis mb-0">Update dashboard</p>
            </div>
          </a>
          <a th:href="@{/admin/notification}">
            See all notifications
          </a>
        </div>



      </li>

      <li class="nav-item nav-logout d-none d-lg-block">
        <a class="nav-link" href="#">
          <i class="fa-solid fa-power-off fa-2xl text-danger"></i>
        </a>
      </li>

      <li class="nav-item nav-settings d-none d-lg-block">
        <a class="nav-link" href="#">
          <i class="fa-solid fa-sliders fa-2xl text-info"></i>
        </a>

      </li>
    </ul>
    <button id="toggleMode">🌙 / ☀️</button>

  </div>
</nav>
