<nav th:fragment="_sidebar" class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <!-- Hồ sơ Admin -->
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="nav-profile-image">
          <img src="/images/faces/face1.jpg" alt="profile">
          <span class="login-status online"></span>
        </div>
        <div class="nav-profile-text d-flex flex-column">
          <span class="font-weight-bold mb-2">Trần Xuân Huy</span>
          <span class="text-secondary text-small">Admin</span>
        </div>
        <i class="fa-solid fa-certificate fa-lg text-success nav-profile-badge"></i>
      </a>
    </li>

    <li class="nav-item">
      <span class="nav-link text-uppercase font-weight-bold text-muted">Manager</span>
    </li>

    <li class="nav-item">
      <a class="nav-link" th:href="@{/admin/dashboard}">
        <i class="fa-solid fa-house fa-xl mr-3"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" data-target="#ui-basic1" aria-expanded="false" aria-controls="ui-basic1">
        <i class="fa-solid fa-users fa-lg mr-3"></i>
        <span class="menu-title">Users Management</span>
        <i class="fa-solid fa-chevron-down ml-auto"></i>
      </a>
      <div class="collapse" id="ui-basic1">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/users/teacher}">
              <i class="fa-solid fa-list fa-lg mr-3"></i> Teacher
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/users/learner}">
              <i class="fa-solid fa-list fa-lg mr-3"></i> Learner
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/users/history}">
              <i class="fa-solid fa-clock-rotate-left fa-lg mr-3"></i> History
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" data-target="#ui-basic2" aria-expanded="false" aria-controls="ui-basic2">
        <i class="fas fa-graduation-cap fa-lg mr-3"></i>
        <span class="menu-title">Course Management</span>
        <i class="fa-solid fa-chevron-down ml-auto"></i>
      </a>
      <div class="collapse" id="ui-basic2">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/courses}">
              <i class="fa-solid fa-list fa-lg mr-3"></i> Course
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/categories}">
              <i class="fa-solid fa-list fa-lg mr-3"></i> Category
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" th:href="@{/admin/application}">
        <i class="fa-solid fa-user-tie fa-xl mr-3"></i>
        <span class="menu-title">Teacher-Register</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" th:href="@{/admin/invoice}">
        <i class="fa-solid fa-file-invoice-dollar fa-xl mr-3"></i>
        <span class="menu-title">Invoice</span>
      </a>
    </li>

    <!-- Statistic Section -->
    <li class="nav-item mt-3">
      <span class="nav-link text-uppercase font-weight-bold text-muted">Statistic</span>
    </li>

    <li class="nav-item">
      <a class="nav-link" th:href="@{/admin/statistics/dashboard}">
        <i class="fa-solid fa-chart-line fa-xl mr-3"></i>
        <span class="menu-title">Dashboard Statistics</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" th:href="@{/admin/statistics/invoice}">
        <i class="fa-solid fa-chart-pie fa-xl mr-3"></i>
        <span class="menu-title">Invoice Statistics</span>
      </a>
    </li>
  </ul>
</nav>
